<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:ApplicationContext.xml</param-value>
  </context-param>

  <filter>
    <filter-name>accept-filter</filter-name>
    <filter-class>org.jzkit.webapp.filters.AcceptFilter</filter-class>
    <init-param>
      <param-name>xml</param-name>
      <param-value>application/xml</param-value>
    </init-param>
    <init-param>
      <param-name>json</param-name>
      <param-value>application/json</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param> <param-name>singleSession</param-name> <param-value>true</param-value> </init-param>
    <init-param> <param-name>sessionFactoryBeanName</param-name> <param-value>IdentSessionFactory</param-value> </init-param>
  </filter>

  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>accept-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>Jersey Filter</filter-name>

    <filter-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</filter-class>
    <!--<filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>-->

    <init-param>
           <param-name>com.sun.jersey.config.feature.Redirect</param-name>
           <param-value>true</param-value>
    </init-param>
    <init-param>
           <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
           <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.jzkit</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
      <param-value>/(css|img)/.*</param-value>
    </init-param>

    <init-param>
      <param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
      <param-value>/WEB-INF/jsp</param-value>
    </init-param>

    <init-param>
      <param-name>com.sun.jersey.config.feature.Trace</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>com.sun.jersey.config.feature.TracePerRequest</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Jersey Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <!-- Next listener is for spring / jersey beans -->
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jzkit.webapp.SessionListener</listener-class>
  </listener>

  <security-constraint>
    <display-name>Provider Pages Security Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>Provider Page Area</web-resource-name>
      <url-pattern>/login</url-pattern>
      <url-pattern>/admin</url-pattern>
      <url-pattern>/admin/*</url-pattern>
      <!-- If you list http methods, only those methods are protected -->
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <!-- Anyone with one of the listed roles may access this area -->
      <role-name>AdminUser</role-name>
      <role-name>SuperUser</role-name>
      <role-name>GLOBAL.admin</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Default login configuration uses form-based authentication -->
 <login-config>
   <auth-method>FORM</auth-method>
   <realm-name>IdentRealm</realm-name>
   <form-login-config> 
     <form-login-page>/login</form-login-page>
     <form-error-page>/WEB-INF/error.jsp</form-error-page>
   </form-login-config> 
  </login-config>

  <!--
   <login-config> <auth-method>BASIC</auth-method> <realm-name>IdentRealm</realm-name> </login-config>
  -->


  <!-- Security roles referenced by this web application -->
  <security-role>
    <role-name>StandardUser</role-name>
  </security-role>
  <security-role>
    <role-name>AdminUser</role-name>
  </security-role>
  <security-role>
    <role-name>SuperUser</role-name>
  </security-role>
  <security-role>
    <role-name>GLOBAL.admin</role-name>
  </security-role>

  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>

  <resource-ref>
    <res-ref-name>jdbc/identDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

</web-app>
