<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
	<mirrors>
		<mirror>
			<id>mol-repository</id>
			<url>http://maven.mol.com.pl/proxy</url>
			<mirrorOf>*,!central</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>molnet-profile</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>mol-repository</id>
					<url>http://maven.mol.com.pl/proxy</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mol-repository</id>
					<url>http://maven.mol.com.pl/proxy</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>